* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

body {
    background-image: url(/img/water\ image.svg);
    background-repeat: no-repeat;
    background-position: top -210px right -190px;
}

.togglers{
    display: none;
}


nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    align-items: center;

}

nav ul a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    margin-top: 0.2rem;
}

nav ul a:hover {
    color: #9095AF;
}

html,
body {
    scroll-behavior: smooth;
}

button {
    all: unset;
    padding: 15px 37px;
    font-size: 13px;
    border-radius: 50px;
    background-color: #f25f3a;
    color: #FAE2AF;
    cursor: pointer;
    /* box-shadow: 3px 3px 10px #F8A591; */
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 7rem 5rem 7rem;
}

#main-text {
    width: 40%;
}

#main-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #242D52;
}

#main-text p {
    font-size: 20px;
    line-height: 1.5;
    margin: 1rem 0px 3rem;
    color: #9095AF;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem 5rem;
    position: relative;
}

#first-section {
    width: 40%
}

#first-section h1 {
    font-size: 40px;
    font-weight: 700;
    color: #242D52;
}

#first-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 2rem;
    color: #9095AF;
    width: 80%;
}

#sub-sections {
    width: 50%;
}

.a {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 30px;
    margin-top: -40px;
}

.a h4 {
    background-color: #f25f3a;
    color: #FAFAFA;
    padding: 9px 20px;
    border-radius: 20px;
    margin-top: 43px;
    margin-right: 0px;
    margin-left: 30px;
}

.a h3 {
    color: #242D52;
    font-size: 17px;
    font-weight: 800;
    margin-top: 50px;
    margin-left: -30px;
}

.subject1 p {
    margin-bottom: 10px;
    margin-left: 100px;
    color: #9095AF;
    width: 80%;
    line-height: 1.5;
}

article h1 {
    margin: 4rem 0px 7rem;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

article .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0;
    gap: 50px;
    padding: 10px 50px;
}

article .testimonials .testimony h5 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.4em;
    font-weight: 580;
}

article .testimonials .testimony p {
    text-align: center;
    color: #AB95AF;
    background-color: #FFEFEB;
    padding: 0.8rem 1rem;
}

.testimony{
    margin-top: -32px;
    background-color: #FFEFEB;
    padding: 2rem 0 10px;
}

.testimonial1,.testimonial2,.testimonial3,.testimonial4{
    margin: 80px 20px 0;
    padding: 10px 20px;
    text-align: center;
}

.owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.owl-dot{
    padding: 4px;
    background-color: grey;
    border-radius: 50px;
}
.owl-nav{
    display: none;
}
.owl-dot.active{
    background-color: #f25f3a;
}

.article-img{
    width: 25% !important;
    margin: 0 auto;
    text-align: center;
}

article button {
    margin: 5rem 0 9rem 0;
    cursor: pointer;
    position: relative;
    left: 44%;
    top: 50%;
}

#lower-section {
    background-color: #f25f3a;
    color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem;
    align-items: center;
}

#lower-section h1 {
    font-size: 41px;
    width: 45%;
}

#lower-section button {
    background-color: #FAFAFA;
    color: #f25f3a;
}

footer {
    background-color: #1D1E25;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 5rem 0;
}

.first-footer {
    padding-top: 1.5rem;
}

.first-footer img {
    margin-bottom: 3rem;
}

.icons {
    display: flex;
    gap: 5px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.icons a {
    text-decoration: none;
}

.icons a i {
    color: white;
    font-size: 24px;
    border-radius: 50px;
    margin: 3px;
}

.icons a i:hover {
    color: #f25f3a;
}

.middle-footer {
    display: flex;
    gap: 5rem;
}

a {
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin-top: 22px;
    color: #FAFAFA;
    font-size: 15px;
}

#email {
    border-radius: 20px;
    padding: 11px;
    margin-top: 2rem;
}

#submit-button {
    background-color: #f25f3a;
    padding: 12px 25px;
    border-radius: 35px;
    color: #FAFAFA;
    font-weight: 700;
}

.copyright {
    color: #FAFAFA;
    font-size: 12px;
    margin-top: 4rem;
}

@media screen and (max-width: 992px) {

    main {
        padding: 6rem 3rem 5rem;
    }

    #main-text h1 {
        font-size: 33px;
        font-weight: 900;
        width: 120%;
    }

    section {
        padding: 2rem 4rem 5rem 4rem;
    }

    #first-section h1 {
        font-size: 36px;
        width: 120%;
    }

    #first-section p {
        font-size: 17px;
        width: 100%;
    }

    #sub-sections {
        width: 55%;
    }
    
    .a{
        font-size: smaller;
        white-space: nowrap;
        width: 100%;
        padding-left: -80px;
    }

    article .testimonials {
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }

    .article-img{
        position: relative;
        top: -60px;
        right: -40px;
    }

    .testimonial3,.testimonial4{
        position: relative;
        top: 20px;
    }

}

@media screen and (max-width: 768px){

    body{
        width: 100%;
    }
    
    nav button{
        display: none;
    }

    nav img{
        width: 18%;
    }

    nav ul{
        gap: 12px;
    }

    main{
        padding: 3rem 2rem 5rem 2rem;
    }

    #main-text h1{
        font-size: 26px;
        font-weight: 800;
    }

    article .testimonials .article-img{
        position: relative;
        right: 30px;
    }

    .a{
        white-space: inherit;
    }

    #first-section h1{
        font-size: 30px;
    }

    #sub-sections {
        width: 59%;
    }

    #lower-section{
        padding: 3rem 2rem;
    }

    #lower-section h1 {
        font-size: 25px;
    }

    footer{
        padding: 2rem 1rem 3rem 1rem;
    }

    .middle-footer {
        gap: 1.5rem;
    }

    .footer-list a{
        font-size: 13px;
    }

    #email {
        padding: 0;
        margin-top: 1rem;
    }

    #submit-button {
        padding: 6px 14px;
    }
}

@media screen and (max-width: 576px){

    body {
        background-size: 550px;
        background-position: top -170px right -230px;
        max-width: fit-content;
    }

    .togglers{
        display: block;
        }
       .ri-close-circle-line{
        display: none;
    }
     
    nav ul{
        position: fixed;
        flex-direction: column;
        background: white;
        width: 70%;
        top: -32%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem 0;
        gap: 30px;
        border-radius: 10px;
        border: 1px solid grey;
        transition: .5s;
        z-index: 100;
    }

    nav{
        margin: 2rem -7rem;
    }

    nav img {
        width: 20%;
        margin-left: 15px;
    }

    .menu {
        display: block;
        width: 15%;
    }

    main {
        padding: 3rem 1rem 5rem 1rem;
    }

    section{
        padding: 2rem 1rem;
        width: 100%;
    }

    #first-section {
        margin-left: 1rem;
    }

    #sub-sections{
        margin-right: 2.5rem;
    }

    #first-section h1{
        font-size: 21px;
        font-weight: 800;
    }

    .a{
        margin-bottom: -15px;
    }

    .a h3 {
        font-size: 15px;
    }

    .a h4{
        margin-bottom: 60px;
        margin-top: 50px;
        margin-right: -5px;
    }

    article .testimonials {
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
    }

    article .testimonials .article-img{
        align-items: center;
        margin-left: 65px;
        position: relative;
        right: 2px;
    }

    article button{
        margin-left: -2.5rem;
    }


    footer {
        flex-direction: column;
        align-items: center;
        padding: 2rem 2rem 3rem 2rem;
    }

    .icons{
        margin-top: -40px;
    }

    .footer-list a{
        font-size: 15px;
    }

    #email {
        padding: 7px;
    }
}

@media screen and (max-width: 480px){

    *{
        max-width: 110%;
    }

    nav{
        padding: 0rem 2rem;
        justify-content: space-around;
        padding-left: 110px;
    }

    nav img{
        margin-right: 200px;
        width: 100px;
    }

    main{
        flex-direction: column-reverse;
        padding: 3rem 1rem 5rem 1rem;
    }

    #main-text {
        width: 70%;
        text-align: center;
        margin-top: 2rem;
    }

    #main-text h1 {
        font-size: 29px;
    }

    #main-text p {
        line-height: 1.4;
        font-size: 18px;
        width: 120%;
    }

    #main-img{
        width: 350px !important;
        padding-left: 35px;
        position: relative;
        top: -30px;
    }
    
    #main-text button{
        margin-left: 25px;
    }

    section {
        flex-direction: column;
        padding: 32px 13px;
        padding-left: 1px;
    }

    #first-section {
        width: 90%;
        text-align: center;
        margin-bottom: 3rem;
    }

    #first-section h1{
        padding-right: 40px;
    }

    #first-section p{
        padding-left: 0px;
        width: 110%;
    }

    .a{
        margin-top: 1rem;
        margin-left: -30px;
    }

    .a h3{
        white-space: nowrap;
        margin-top: 80px;
    }

    .a h4 {
        /* margin-top: 50px; */
        margin-top: 75px;
    }

     /* {
        display: flex;
        gap: 0;
        margin-bottom: 3rem;
    } */

    .subject1 p{
        line-height: 1.5;
        font-size: 18px;
        width: 130%;
        margin-left: 80px;
     }

     article .testimonials{
        gap: 80px;
     }

     article .testimonials .article-img {
        margin-left: -15px;
        position: relative;
        right: -18px;
    }

    #lower-section {
        flex-direction: column;
        gap: 1rem;
        padding: 3rem 0;
    }

    #lower-section h1 {
        font-size: 32px;
        line-height: 1.4;
        width: 60%;
        text-align: center;
    }
}
    

